* {
    box-sizing: border-box;
}

:root {
    font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body {
    height: 100%;
}

body {
    margin: 0;
}

.app-container { 
    height: 100%;
}

main {
    height: 100%
}

header {
    background-color: black;
    color: white;
    font-size: 2rem;
}

.registration-container,
.library-section {
    text-align: center;
}

section {
    height: 100%;
}

.registration-form,
.library-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}


form { 
    min-height: 10rem;

}

fieldset {
    display: flex; 
    flex-direction: column;
    width: 42%;
    align-items: center;
    font-size: 1.3rem;
}

fieldset > * {
    margin-block: 0.5rem;
}

fieldset > label {
    font-weight: bold;
}

fieldset > input {
    width: 50%;
    font-size: 1.2rem;
    letter-spacing: 1px;
    /* text-align: center; */
}

table {
    width: 50%;
}

thead {
    width: 100%;
    font-size: 1.5rem;
    background-color: thistle;
}

tr {
}

td {
    background-color: whitesmoke;
    font-size: 1.3rem;
    text-align: center;
    padding: 0.2rem;
}

button {
    background-color: thistle;
}

button:focus {
    background-color: lightcoral;
}

button:hover {
    cursor: pointer;
    background-color: rgb(104, 173, 192);
}